@import "../../css/colors.css";
@import "../../css/units.css";

.wrapper {
    display: flex;
    flex-grow: 1;
    border: 1px solid $ui-black-transparent;
    background: $assets-background;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    flex-direction: column;
}

[dir="ltr"] .wrapper {
    border-top-right-radius: $space;
    border-bottom-right-radius: $space;
}

[dir="rtl"] .wrapper {
    border-top-left-radius: $space;
    border-bottom-left-radius: $space;
}

.container {
    height: 0;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: calc(2 * $space);
}

.variable-dropdown table {
  border-radius: 5px;
  border-collapse: collapse;
  width: 100%;
}
  
[dir="ltr"] .variable-dropdown td {
  padding: calc(2 * $space);
  border: 1px solid $ui-black-transparent;
  text-align: left;
}

[dir="rtl"] .variable-dropdown td {
  padding: calc(2 * $space);
  border: 1px solid $ui-black-transparent;
  text-align: right;
}

.variable-name {
    word-break: break-word;
}
.variable-value {
    width: 75%;
}

.variable-dropdown-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.variable-dropdown-header-label {
    margin-left: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.variable-dropdown-body {
    border-left: 1px dashed $ui-black-transparent; 
    padding: calc(2 * $space);
    font-size: 0.75rem;
}

.separator {
    border-bottom: 1px dashed $ui-black-transparent; 
    margin: 25px 0 25px 0;
}

.box {
    text-align: center;
    border: 1px solid var(--ui-black-transparent);
    padding: calc(2 * $space);
}