@import "../../css/colors.css";

$border-radius: 4px;
$trim-handle-width: 30px;
$trim-handle-height: 30px;
$trim-handle-border: 3px;
$stripe-size: 10px;
$hover-scale: 1.25;

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    /* Force the browser to paint separately to avoid composite cost with waveform */
    transform: translateZ(0);
}

.trim-background {
    cursor: pointer;
    touch-action: none;
}

.trim-background-mask {
    opacity: 0.5;

    background-color: $page-background;
}

.start-trim-background .trim-background-mask {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.end-trim-background .trim-background-mask {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.trim-line {
    position: absolute;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px solid $looks-secondary;
    z-index: 1;
}

.selector .trim-line {
    border: 1px solid $looks-secondary;
}

.playhead-container, .playhead-caret-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.playhead-container {
    overflow: hidden;
}

.playhead-caret-container {
    pointer-events: none;
}

.playhead-caret-container img {
    height: 1rem;
    position: absolute;
    top: -1rem;
    left: calc(-0.5rem - 0.25rem);
    user-select: none;
}

.playhead {
    /*
        Even though playhead is just a line, it is 100% width (the width of the waveform)
        so that we can use transform: translateX() using percentages.
    */
    width: 100%;
    height: 100%;
    position: relative;
}

.playhead::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.125rem;
    height: 100%;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    background-color: $looks-secondary;
}

.right-handle {
    transform: scaleX(-1);
}

.selector .left-handle {
    left: -1px
}

.selector .right-handle {
    right: -1px
}

.trimmer .left-handle {
    right: -1px
}

.trimmer .right-handle {
    left: -1px
}

.trim-handle {
    position: absolute;
    width: $trim-handle-width;
    height: $trim-handle-height;
    right: 0;
    user-select: none;
    cursor: grab;
}

.trim-handle :active {
    cursor: grabbing;
}

.trim-handle img {
    position: absolute;
    width: $trim-handle-width;
    height: $trim-handle-height;
    left: calc($trim-handle-border * 1.5);

    /* Make sure image dragging isn't triggered */
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none; /* Autoprefixer doesn't seem to work for this */

    transition: 0.2s;
}

.top-trim-handle {
    top: calc(-$trim-handle-height + $trim-handle-border);
}

.bottom-trim-handle {
    bottom: calc(-$trim-handle-height + $trim-handle-border);
}

.top-trim-handle img {
    transform: scaleY(-1);
}
