@import "../../css/colors.css";

.save-now {
    cursor: pointer;
    padding: 0 0.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}

.save-now:hover {
    background-color: $ui-black-transparent;
}
