.folder-tile {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
}

.folder-tile > :first-child {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.folder-tile > :first-child > div {
    background-color: transparent;
}

.color-picker {
    position: fixed;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    opacity: 0;
    pointer-events: none;
}
