@import "../../css/units.css";

.viewer-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: calc(2 * $space);
    align-items: center;
    justify-items: center
}

.attribute {
    margin: $space;
}

.attribute span {
    font-size: 0.75rem;
}

.icon {
    max-height: calc(30 * $space);
    border-radius: 0.25rem;
    margin: 1rem
}