@import "../../css/colors.css";
@import "../../css/units.css";

.wrapper {
    overflow-y: hidden;
    flex-grow: 1;
    flex-shrink: 0;
    transition: height 0.25s ease-out;
    height: 50%;

    &:not(:first-of-type) {
        border-top: 1px solid $ui-black-transparent;
    }

    &.collapsed {
        flex-grow: 0;
        min-height: auto;
    }
}

.header {
    user-select: none;
    cursor: pointer;
    padding: $space;
    font-size: $menu-bar-standard-font-size;

    & span {
        margin: 0.25rem;
        font-weight: bold;
        letter-spacing: 0.4px;
        line-height: 1rem;
    }
}

.body {
    height: calc(100% - 1rem - 2 * $space);
    overflow-y: auto;
    gap: 0.5rem;
    border-top: 1px solid $ui-black-transparent;
}
