@import "../../css/colors.css";

.modal-content {
    max-width: 750px;
}

.body {
    background: $ui-white;
    padding: 1.5rem 2.25rem;
    min-height: 150px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}
[theme="dark"] .body {
    color: $text-primary;
    background: $ui-primary;
}

/* For small screens, such as in the embed */
@media (max-height: 600px) {
    .modal-content {
        margin: 50px auto;
    }
    .body {
        max-height: calc(100vh - 150px);
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0 0 0;
    font-weight: bold;
}
.divider {
    flex-grow: 1;
    margin-left: 1rem;
    border-top: 1px dashed $ui-tertiary;
}